---
http_interactions:
- request:
    method: post
    uri: https://acceptance-oauth2-server.qa.k8s.psu.edu/oauth/api/token
    body:
      encoding: UTF-8
      string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Uniqueid:
      - de4c521c9c5e58f3eec9052634134307
    body:
      encoding: UTF-8
      string: '{"access_token":"asdf","scope":"","token_type":"Bearer","expires_in":3599}'
  recorded_at: Sat, 29 Jan 2022 00:07:07 GMT
- request:
    method: get
    uri: https://acceptance-directory-service.qa.k8s.psu.edu/directory-service-web/resources/people/cam156
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Etag:
      - 4eCeJuZp5QAe6uEcYQhzZUB/4j8tc98eSKU/zDBxmQA=
      Uniqueid:
      - f412c4cd6bddfffa0fdf177176c93f3d
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["User
        with id cam156 not found"],"link":null}'
  recorded_at: Sat, 29 Jan 2022 00:07:07 GMT
recorded_with: VCR 6.0.0
