---
http_interactions:
  - request:
      method: post
      uri: https://acceptance-oauth2-server.qa.k8s.psu.edu/oauth/api/token
      body:
        encoding: UTF-8
        string: client_id=<CLIENT_ID>&client_secret=<CLIENT_SECRET>&grant_type=client_credentials
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        Uniqueid:
          - 34e09f44addc7a66141a0731a5516406
      body:
        encoding: UTF-8
        string: '{"access_token":"asdf","scope":"","token_type":"Bearer","expires_in":3599}'
    recorded_at: Sat, 29 Jan 2022 00:07:07 GMT
  - request:
      method: get
      uri: https://acceptance-directory-service.qa.k8s.psu.edu/directory-service-web/resources/people/djb44
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/vnd-psu.edu-v1+json
        Etag:
          - wCf5CBQIF/YWdCfw3POdMCtmunaVxDo9LeviNbsBTNc=
        Uniqueid:
          - bd8cb48f9d1aae5be0e74becc20086c9
        X-Content-Security-Policy:
          - frame-ancestors 'none'
      body:
        encoding: UTF-8
        string:
          '{"admin-group-list":["admins"],"owner-group-list":["owners.owner"],"member-group-list":["members", "users"],"ps-dir-idn":"999999","ps-uid-number":"99999","uid-number":"99999","psuid":"99999999","user-id":"djb44","nickname":null,"alternate-email-list":["djb44@psu.edu","dann@psu.edu"],"mobile-phone-number":null,"office-address":null,"office-location":null,"office-phone":null,"birth-date":null,"home-phone":null,"homeDirectory":"/pass/users/d/j/djb44","home-address":null,"ps-ferpa-exam":true,"ps-optional-2fa":false,"permanent-address":null,"permanent-phone-number":null,"login-shell":"/bin/bash","ps-department":"Library
          Strategic Technologies","ps-department-code":"41743","given-name":"Dann","date-of-birth":"2020-10-21","psApptCode":null,"ps-campus-code":"UP","ps-campus":"University
          Park","title":"Programmer/Analyst 4","edu-person-principal-name":"djb44@psu.edu","edu-person-primay-affiliation":"STAFF","postal-address":"9303 Lyon Drive, Lyon Estates, Hill Valley CA 95420","ps-show-postal-address":true,"telephone-number":"+1
          814 867 5309","ps-show-phone":true,"ps-admin-area":null,"ps-business-area":"University
          Libraries","ps-business-area-code":"4170","display-name":"Dann Bohn","surname":"Bohn","preferred-name":null,"common-name":"Dann
          Bohn","ps-mail-host":"PSUOneforestTest.onMicrosoft.com","ps-mailbox":"djb44@PSUOneforestTest.onMicrosoft.com","email":"djb44@psu.edu","orc-id":"https://orcid.org/0000-0003-2691-3206","edu-person-entitlement-list":["entitlements"],"edu-person-nickname-list":[],"edu-person-affiliation-list":["member","staff"],"psCodeHotl":null,"psCurriculum":null,"psEmployeeClass":"STFF","psEstatusCode":"ACT","psMacLabGID":"5000","psHours":null,"psMacLabHomeDir":"/Users/guest","psScholarStatus":null,"psSemesterCode":null,"psSemesterStanding":null,"psConfHold":false,"visaType":null,"genderPronouns":null,"psu-id-number":"99999"}'
    recorded_at: Sat, 29 Jan 2022 00:07:07 GMT
recorded_with: VCR 6.0.0
