---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/cam156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      X-Content-Security-Policy:
      - frame-ancestors 'none'
      Uniqueid:
      - 8381103af2b0c6750ef722de0b27c0c7
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: cam156"],"link":null}'
  recorded_at: Tue, 25 Jan 2022 13:53:33 GMT
recorded_with: VCR 6.0.0
