---
http_interactions:
- request:
    method: get
    uri: https://identity.apps.psu.edu/search-service/resources/people/userid/cam156
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd-psu.edu-v1+json
      Uniqueid:
      - 8a047ecf-1861-4e9d-8c42-ff70acb9f487
      X-Content-Security-Policy:
      - frame-ancestors 'none'
    body:
      encoding: UTF-8
      string: '{"status":{"code":404,"message":"NOT_FOUND"},"errorMessage":["No person
        matched the input userid: cam156"],"link":null}'
  recorded_at: Wed, 06 May 2020 14:52:46 GMT
recorded_with: VCR 5.1.0
